.form-section-box {
    background-color: $blueBackground;
    padding: 70px 0px;
    font-size: 20px;
  }
  
  .form-section {
    display: flex;
    justify-content: center;
    position: relative;
  }
  
  .required-fields {
    position: absolute;
    bottom: -30px;
    right: 0px;
    font-size: 16px;
    color: $greyText;
  }
  
  .validation-message {
    position: relative;
    margin-bottom: 30px;
    font-family: $textFont;
    color: $red;
  }
  
 

  .proposition-mot-cle {
    padding-left: 60px;
    font-size: 16px;
    color: $greyText;
    input {
      display: inline;
      margin-right: 10px;
    }
  }

  .add-mot-cle {
    border-radius: 2px;
    border: 1px solid $greenButton !important;
    padding: 3px;
    color: $greenButton;
    &:hover {
      cursor: pointer;
    }
  }